{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "rules": {
    "@typescript-eslint/no-namespace": ["warn", { "allowDeclarations": true }],
    "@typescript-eslint/no-empty-function": "warn",
    "@typescript-eslint/no-unused-vars": ["warn", { "argsIgnorePattern": "^_" }]
  },
  "overrides": [
    {
      "files": ["src/**/*.@(ts|tsx)", "typings/*"],
      "parserOptions": { "project": "src/tsconfig.json" }
    },
    {
      "files": "./*",
      "parserOptions": { "project": "tsconfig.json" },
      "env": { "node": true }
    }
  ],
  "ignorePatterns": "dist/**"
}
