{
  "parser": "@typescript-eslint/parser",
  "extends": ["eslint:recommended"],
  "overrides": [
    {
      "files": "**/*.@(ts|tsx)",
      "parserOptions": { "project": "tsconfig.json" },
      "plugins": ["@typescript-eslint"],
      "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
      ],
      "rules": {
        "@typescript-eslint/no-namespace": [
          "warn",
          { "allowDeclarations": true }
        ]
      }
    },
    {
      "files": "rollup.conf.js",
      "env": { "node": true }
    }
  ]
}
